:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "tailwindcss";


.formx::before {
  content: '';
    top: -50%;
    left: -50%;
    position: absolute;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,
    #E5BA73, #E5BA73);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.formx::after{
    content: '';
    top: -50%;
    left: -50%;
    position: absolute;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,
    #f34b4b, #E5BA73);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;

}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.inputco input:valid ~ span,
.inputco input:focus ~ span{
    color: #E5BA73;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
}


.inputcont input:valid ~ i,
.inputcont input:focus ~ i{
    height: 44px;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
